#buttons
{
  width: 100%;
  height: calc(80vh - (37.1 * 80vh / 100));

  display: grid;
  grid-template: repeat(5, 20%) / repeat(5, 1fr);
}

#advanced
{
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-content: space-evenly;
}

#advanced button
{
  min-height: 1rem;
  flex-basis: 15%;
  font-weight: 500;
}

#numbers
{
  grid-row: 2 / -1;
  grid-column: 1 / 4;

  display: grid;
  grid-template: repeat(4, 25%) / repeat(3, 1fr);
}

#numbers button
{
  font-size: 1.6rem;
}

#controls
{
  grid-row: 2 / 3;
  grid-column: 4 / -1;

  display: flex;
}

#controls button
{
  flex: 1;
  font-size: 1.4rem;
}

#operators
{
  grid-row: 3 / -1;
  grid-column: 4 / -1;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.solve
{
  grid-column: 1 / -1;
  background: orange;
}