* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  overflow: hidden;
  flex-wrap: wrap;
}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.column
{
  display: flex;
  flex-direction: column;
}